#game-table td {
    width: 45px;
    height: 45px;

    border: 1px solid #000;
}

#gameTimer {
    border-radius: 15px;
    width: 80px;
    height: 80px;
    border: 1px solid #000;
    padding-bottom: 20px;
    margin-top: 15px;
    text-align: center;
}

#gameTimer h4{
    border: 1px solid #000;  
}

#gameTimer span{
    display:inline-block;
    border: 1px solid #000;
    font-size:2em;
}

#gameBombRemaining {
    border-radius: 15px;
    width: 80px;
    height: 80px;
    border: 1px solid #000;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin-top: 15px;
    text-align: center;
}

.new-cell {
    background-color: #CCC;
    cursor: pointer;
}

.new-cell:hover{
    background-color: cornsilk;
}

.new-cell > .cell-content {
    display: none;
}